/** Styling for dialog Content */
.mat-dialog-title{
  font-size: 35px;
}
.bin{
  color:red;
}

.modifyButton{
  background-color: #e4e4e4;
}

.modifyButton:hover{
  background-color: #7a9bbf;
  color: white;
}

:host ::ng-deep .mdc-text-field--outlined{
  --mdc-outlined-text-field-container-shape: 15px;
}

.createButton:enabled,
button[enabled]{
  color: black;
  border-radius: 10px;
}

.createButton:enabled:hover,
button[enabled]{
  border-radius: 10px;
}

.closeButton:enabled,
buton[enabled]{
  color: red;
  border-radius: 10px;
}

.closeButton:hover{
  border-radius: 10px;
}


.mat-dialog-content {
  width: 100%;
}


mat-form-field {
  width: 100%;
}

.link-header{
  display: flex;
  justify-content: space-between;
}
