<!--
@component Preview Process Steps Component
@description Display the preview of process step
-->
@if (response) {
  <div class="container">
    <!-- The preview container to display the steps -->
    <div class="preview-container">
      <!-- Check is steps available -->
      @if (processSteps.length !== 0) {
        <div>
          <h1>{{processDetails.label}}</h1>
          <mat-divider></mat-divider>
          <!-- Display steps based on type -->
          @for (processStep of processSteps; track processStep) {
            <div>
              <h2>Step {{processStep.id}} </h2>
              <!-- The Link Container to display the reference links-->
              @if (processStep.referenceLink && processStep.referenceLink.length > 0) {
                <div class="link-container">
                  <div class="link-sub-container-1">
                    <p><b>Supporting Links</b></p>
                  </div>
                  <div class="link-sub-container-2">
                    @for (referenceLink of processStep?.referenceLink; track referenceLink) {
                      <div>
                        <p>{{referenceLink.id}}. <a href="{{referenceLink.url}}" title="{{referenceLink.description}}" target="_blank" rel="noopener noreferrer">
                          {{referenceLink.label}}
                        </a></p>
                      </div>
                    }
                  </div>
                </div>
              }
              <!-- Step Description -->
              <p>{{processStep.description}}</p>
              <!-- Radio & Text Boxes -->
              @if (processStep.type === 'radio&text') {
                <div>
                  <mat-radio-group>
                    @for (choices of processStep?.choices; track choices) {
                      <div class="steps">
                        <mat-radio-button [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
                      </div>
                    }
                  </mat-radio-group>
                  <br />
                  <b>Please provide further details.</b><i>Optional</i><br /><br />
                  <quill-editor></quill-editor>
                </div>
              }
              <!-- Radio -->
              @if (processStep.type === 'radio') {
                <div>
                  <mat-radio-group>
                    @for (choices of processStep?.choices; track choices) {
                      <div class="steps">
                        <mat-radio-button [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
                      </div>
                    }
                  </mat-radio-group>
                </div>
              }
              <!-- Checkbox and Text -->
              @if (processStep.type === 'checkbox&text') {
                <div>
                  @for (choice of processStep?.choices; track choice) {
                    <div>
                      <mat-checkbox>
                      {{choice.description}}</mat-checkbox>
                    </div>
                  }
                  <br />
                  <b>Please provide further details. </b><i>Optional</i><br /><br />
                  <quill-editor></quill-editor>
                </div>
              }
              <!-- Checkbox -->
              @if (processStep.type === 'checkbox') {
                <div>
                  @for (choice of processStep?.choices; track choice) {
                    <div>
                      <mat-checkbox>
                      {{choice.description}}</mat-checkbox>
                    </div>
                  }
                </div>
              }
              <br />
              <!--Textbox-->
              @if (processStep.type === 'textbox') {
                <div>
                  <quill-editor></quill-editor>
                </div>
              }
              <mat-divider></mat-divider>
            </div>
          }
        </div>
      }
      <!-- Display no data available message if no process steps available -->
      @if (processSteps.length === 0) {
        <div class="noData">
          <img src="/assets/noData.jpg" alt="No data available" />
          <p>No Steps Found - Add Step</p>
        </div>
      }
    </div>
  </div>
}
@if (!response) {
  <div class="div-spinner">
    <mat-spinner></mat-spinner>
  </div>
}
